@charset "UTF-8";
/* Boton Form Animación */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.BotonAnimado {
  padding: 15px 40px;
  background: #ea6c36;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: helvetica;
  font-size: 12px;
  letter-spacing: 3px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.BotonAnimado::after,
.BotonAnimado::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  opacity: 0;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.BotonAnimado::after {
  width: 30px;
  height: 1px;
  background: white;
  transform: translateX(-3px);
  margin-top: 0px;
}

.BotonAnimado::before {
  content: "";
  transform: rotate(-135deg) translateX(50%);
  width: 11px;
  height: 11px;
  background: transparent;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  margin-top: -1px;
}

.BotonAnimado:hover {
  padding: 15px 60px 15px 20px;
}

.BotonAnimado:hover::after,
.BotonAnimado:hover::before {
  opacity: 1;
  right: 15px;
}

/* Animacion Banner */
.banner-text {
  font-family: "Montserrat Medium";
  max-width: 80ch;
  text-align: center;
  transform: scale(0.94);
  -webkit-animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
          animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@-webkit-keyframes scale {
  100% {
    transform: scale(1);
  }
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.banner-text {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

.banner-text:nth-child(1) {
  -webkit-animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(2) {
  -webkit-animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(3) {
  -webkit-animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(4) {
  -webkit-animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(5) {
  -webkit-animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(6) {
  -webkit-animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(7) {
  -webkit-animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(8) {
  -webkit-animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(9) {
  -webkit-animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(10) {
  -webkit-animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(11) {
  -webkit-animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(12) {
  -webkit-animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(13) {
  -webkit-animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(14) {
  -webkit-animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(15) {
  -webkit-animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(16) {
  -webkit-animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(17) {
  -webkit-animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.banner-text:nth-child(18) {
  -webkit-animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
          animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@-webkit-keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
/*Formulario*/
.Contacto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 20px;
}

.infoContacto {
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 10px;
  word-wrap: break-word;
  background-color: #f0f0f0;
}

.Formulario {
  width: 0 auto;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 0 auto;
  margin-bottom: 10px;
  background-color: #f0f0f0;
}

/* Mapa Responsive */
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* Formulario Bootstrap */
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: fixed;
}

#contactus {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  background: #F9F9F9;
  padding: 25px;
  margin-top: 25px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contactus h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contactus h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contactus input[type=text],
#contactus input[type=email],
#contactus input[type=tel],
#contactus input[type=url],
#contactus textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contactus input[type=text]:hover,
#contactus input[type=email]:hover,
#contactus input[type=tel]:hover,
#contactus input[type=url]:hover,
#contactus textarea:hover {
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contactus textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contactus button[type=submit] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #f0715f;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contactus button[type=submit]:hover {
  background: #f07150;
  transition: background-color 0.3s ease-in-out;
}

#contactus button[type=submit]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contactus input:focus,
#contactus textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

/* Cards Generales */
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  background-color: #e7e7e7;
}

.card {
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.card img {
  max-width: 100%;
}

.card .text {
  padding: 0 20px 20px;
}

.card .text > button {
  background: #ea6c36;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

/* Cards para Tarifas */
.cardsTarifa {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  text-align: center;
  background-color: #e7e7e7;
}

.cardTarifa {
  flex-wrap: wrap;
  margin: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.cardTarifa img {
  max-width: 100%;
  margin: auto;
}

.cardTarifa .text {
  padding: 0 20px 20px;
}

.cardTarifa .text > button {
  background: #ea6c36;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, Sans-serif;
  background-color: #e7e7e7;
}

/* Cards con Grid / Index*/
.cardsIndex {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  background-color: #e7e7e7;
}

.cardIndex {
  justify-content: center;
  margin: 10px;
  border: 1px solid #e7e7e7;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.cardIndex img {
  max-width: 100%;
  margin: 20px;
}

.cardIndex .text {
  padding: 0 20px 20px;
}

.cardIndex .text > button {
  background: #ea6c36;
  border: 0;
  color: white;
  padding: 10px;
  width: 50%;
  display: block;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #9a5131;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #e7e7e7;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #e7e7e7;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
}

.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #e7e7e7;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
}

.clearfix {
  clear: both;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
  .footer .col {
    width: 50%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
/* Etiquetas */
a {
  text-decoration: none;
  color: #e7e7e7;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 25px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h6 {
  font-size: 22px;
}

.banner h1,
.banner h3,
.banner h6 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {
  color: white;
  background: url(../Imagenes/cover.jpg) top left/cover no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.imagenHorario {
  flex-shrink: 0;
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main.css.map */